/* imports */
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/* @import "~ng-zorro-antd/ng-zorro-antd.dark.css"; */
/* main stuff */
/* body{
    background-image: url('../assets/images/background1.jpg');
} */

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-image: url('../assets/images/background1.jpg');
    /* cursor: url('../assets/images/FireEmblemSymbol.svg'), auto; */

}
.introHome{
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.introPic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 100%;
    height: auto;
    border-color: black;
}

#footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* Height of the footer*/ 
    height: 40px;
    /* font-size: large; */
}

/* nz-header {
    position: fixed;
    width: 100%;
    background-color: white;
  } */

.aboutH2 {
    font-family: 'Playfair Display', serif;
}

.contactH2{
    font-family: 'Josefin Sans', sans-serif;
}

.expH2{
    font-family: 'Caveat', cursive;
    text-align: center;
}

#expTxtDM{
    color: white !important;
}

#expTxtLM{
    color: black !important;
}
.wa-responsive {
    width: 100%;
    max-width: 100px;
    height: auto;
  }