/* imports */
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Parisienne&display=swap');
/* @import "~ng-zorro-antd/ng-zorro-antd.dark.css"; */
/* main stuff */
/* body{
    background-image: url('../assets/images/background1.jpg');
} */

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-image: url('../assets/images/background1.jpg');
    /* cursor: url('../assets/images/FireEmblemSymbol.svg'), auto; */

}
.introHome{
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.introPic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 60%;
    height: auto;
    border-color: black;
}

.project-row {
    /* display: flex;
    flex-wrap: wrap; */
    gap: 32px; 
    /* margin-left: -8px; 
  margin-right: -8px;  */
  }
  
  .project-card {
    height: 100%; 
    /* display: flex; */
    flex-direction: column;
    /* justify-content: center; */
    padding: 0;
    margin: 0 !important; 
    cursor: default;

  }

  .project-card a {
    cursor: pointer; /* Change cursor to pointer only for links */
  }
  
  .project-img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensures image fills the card */
  }

  .dark-card {
    background-color: grey !important;
    color: white !important; /* Ensure text is readable */
  }

  .dark-card a{
    color: red !important; /* Ensure text is readable */
  }

  .dark-card .ant-card-meta-title,
  .dark-card .ant-card-meta-description {
    color: white !important;
  }

#footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* Height of the footer*/ 
    height: 40px;
    /* font-size: large; */
}

.certs{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-bottom: 10px;
}

.certs_space{
    margin-top: 10px;
}

.responsive_certs {
    width: 100%;
    max-width: 500px;
    height: auto;
  }

/* nz-header {
    position: fixed;
    width: 100%;
    background-color: white;
  } */

.aboutH2 {
    font-family: 'Playfair Display', serif;
}

.contactH2{
    font-family: 'Josefin Sans', sans-serif;
}

.introStory{
    font-family: 'Great Vibes', cursive;
}

.expH2{
    font-family: 'Caveat', cursive;
    text-align: center;
}

.introProject{
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-family: 'Parisienne', cursive;
}

#expTxtDM{
    color: white !important;
}

#expTxtLM{
    color: black !important;
}
.wa-responsive {
    width: 100%;
    max-width: 100px;
    height: auto;
  }

  ul.leftElement {
    /* margin: 0;
     */
     padding-left: 30px;
     text-align: justify;
     padding-top: 20px;
  }


  ul.rightElement {
    /* margin: 0;
     */
     padding-right: 30px;
     padding-top: 20px;
     text-align: justify;
  }

  ul.dashed {
    list-style-type: none;
  }
  ul.dashed > li {
    text-indent: -5px;
  }
  ul.dashed > li:before {
    content: "-";
    text-indent: -5px;
  }

  .introStory{
      text-align: center;
  }