/* imports */
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* @import "~ng-zorro-antd/ng-zorro-antd.dark.css"; */
/* main stuff */
/* body{
    background-image: url('../assets/images/background1.jpg');
} */

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-image: url('../assets/images/background1.jpg');

}
.introHome{
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.introPic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 100%;
    height: auto;
    border-color: black;
}



#footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* Height of the footer*/ 
    height: 40px;
}

